body{
    justify-content: center;
    color: white;
    background-color: lightslategray;    
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-size: 100% 100%;
    background-size: cover;
    font-family: "Century Gothic, CenturyGothic, AppleGothic, sans-serif";


    
}
#header{
    color: white;
    text-shadow: 2px 2px 2px darkblue;
    font-size:30px;
    background-color: rgba(0, 0, 0, 0.215);
    backdrop-filter: blur(10px);
    position: fixed;
    height: auto;
    width: 90%;
    padding-left: 15px;
    border: 3px solid #192448;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right: 3px;
}

.form{
    color: beige;
    text-align:  justify;
    margin-left: 5px;
}

#survey-form-suggestions{
    height: 40px;
    width: 90%;
    display: flex;
    background-color: rgba(0, 0, 139, 0.32);
    padding-bottom:0px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


#description{
    font-size: 10px;    
}

.labels{
    padding-bottom: 10px;
}

#submit{
    margin-bottom: 28vw;
    border: 2px solid #192448;
    border-radius:20px;
    background-color: rgba(167, 167, 167, 0.215);
    padding:8px 20px 8px 20px;
    color: #ffffff;
    backdrop-filter: blur(10px);

}
.btn{
    margin-bottom: 28vw;
    border: 2px solid #192448;
    border-radius:20px;
    background-color: rgba(167, 167, 167, 0.215);
    padding:8px 20px 8px 20px;
    color: #ffffff;
    backdrop-filter: blur(10px);
    text-shadow: 3px 3px 3px darkblue;
    margin-bottom: 200px;


}

.footer-bottom{
    width: 100vw;
    text-align: center;
    margin-bottom: 0%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: whitesmoke;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }