body{
    background-color: slategrey;    
}
#header{
    font-size:60px;
    background-color: #004aad;
    text-align: center;
    border-radius: 350px;
    position: fixed;
    top:0;
    width:100%;
}
#footer{
    font-size:10px;
    text-align: right;
}

#survey-form-suggestions{
    height: 50px;
    width: 550px;
}













