body{
    color: white;
    padding-top: 30px;
    /* background-color: slategrey;     */
    background-image: url(stripes.jpg);
    background-position: center;
    background-size: 100% 150%;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
}
#header{
    color: #f0f0f0;
    font-size:30px;
    background-color: #14065a;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    width:100%;
}
#footer{
    position: relative;
    font-size:10px;
    align-items: right;
}

#survey-form-suggestions{
    height: 50px;
    width: 550px;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

#survey-form{
    backdrop-filter: blur(10px);
}

