h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* background-image: url(/wp1813472.jpeg); */
    /* background-color: azure; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

iframe{
    margin-left: 50px;
    padding: 20px;
}

.dashboard{
    margin-left: 50px;
}

#admin_panel{
    margin-right: 10%;
    border-right: solid;
    border-color: rgb(234, 214, 133);
    margin-top: -50px;
}
div{
    padding: 20px;
    background-color: rgb(146, 249, 249);
}
.admin{
    margin-top: -150%;
}

#welcome{
    font-weight: 400;
    font-style: italic;
}

#pie{
    margin-left: 24%;
}
#histogram{
    margin-top: -200px;
    /* margin-left: 50%; */
}

img{
    margin-right: 50px;
    margin-left: 50px;
}