body {
    padding-top: 75px;
    background: slategray;
    color: white;
   
    
}

#description{
    text-align: center;
    backdrop-filter: blur(10px)
}

#header{
    font-size:60px;
    background-color: rgb(0, 32, 128);
    backdrop-filter: blur(10px);
    text-align: center;
    color: white;
    display: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    opacity: 0.77;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    
    

}

#footer{
    font-size:10px;
    text-align: right;
}

#survey-form-suggestions{
    height: 50px;
    width: 550px;
}


















